$midnight-green: #084c61;
$cedar-chester: #db504a;
$saffron: #e3b505;
$cadet: #4f6d7a;
$cadet-blue: #56a3a6;

$black: #000;
$white: #fff;

$black-chocolate: #1e1b18;
$magnolia: #fffaff;
$royal-blue-dark: #0a2463;
$cerise: #d8315b;
